html,
body {
    height: 100%;
}

body {
    background-color: #252a34;
    /*background-image: linear-gradient(to top, #f2f2f2, #c7c6c6);*/
    background-image: linear-gradient(to top, #f7d3b7, #f8b756);
}

@media (max-width: 410px) {
   body {
       position: relative;
       overflow-x: hidden;
    }

    html {
        overflow-x: hidden;
    }
}