.carphoto-product {
    width: 500px;
    margin-top: 30px;
}

.carphoto-product > .imgProduct {
    width: 95%;
    margin-left: 80px;
}

@media (max-width: 1200px) {
    .carphoto-product {
        margin-right: 100px;
        border-radius: 0 100px 100px 0;
    }
}

@media (max-width: 1000px) {
    .carphoto-product {
        background-image: none;
        background-color: #fff;
        border-radius: 0;
        margin: 30px auto 0 auto;
    }

    .carphoto-product > .imgProduct {
        width: 80%;
        text-align: center;
        margin-left: 80px;
    }

}

@media (max-width: 450px) {
    .carphoto-product > .imgProduct {
        width: 75%;
        margin-left: 50px;
    }

}

@media (max-width: 410px) {
    .carphoto-product {
        margin-top: 30px;
    }
    .carphoto-product > .imgProduct {
        width: 65%;
        margin-left: 30px;
    }

}